{% extends 'base.html' %}

{% block title %}forms!{% endblock %}

{% block content %}
<h1 class="text-center">Submit the following forms please</h1>

<form action="" method="POST">
    {{ form.first_name.label }}
    {{ form.first_name(class = 'form-control', placeholder= 'Enter First name') }}

    {{ form.last_name.label }}
    {{ form.last_name(class = 'form-control', placeholder= 'Enter Last Name') }}

    {{ form.phone_number.label }}
    {{ form.phone_number(class = 'form-control', placeholder= 'Enter Phone Number') }}

    {{ form.address.label }}
    {{ form.address(class = 'form-control', placeholder= 'Enter Address') }}

    {{ form.submit(class='btn btn-primary mt-3 w-100') }}
    {{ form.csrf_token }}
</form>
{% endblock %}